body{
    background-color: #bdd9ca;
}

.title{
    color: #fc9803;
    font-size: 30px;
    font-family: "Fascinate", sans-serif;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: #9b500a;
}

h1{
    margin-top: 10px;
    margin-bottom: 5px;
}

#map { 
    height: 570px; 
    border-style: double;
    border-radius: 5px;
}
